.action-button {
  font-size: 3rem;
}

.access {
  margin-bottom: 1rem;
}

.video__preview {
  display: block;
  width: 100%;
  max-width: 60rem;
  height: auto;
  margin-bottom: 1rem;
  box-shadow: inset 0 0 1em #b1b1b1, 0 0 1em #6d0b3d;
}

.blob__renderer,
.blob__loader {
  display: none;
}

.sample-provider {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #000;
}

.sample-url-provider__examples-link {
  padding: 0.1rem 0;
  cursor: pointer;
  text-decoration: underline;
  color: #00f;
}

.manual-sample-provider__canvas {
  display: block;
  width: 320px;
  height: 240px;
  margin-bottom: 1rem;
  box-shadow: inset 0 0 1em #b1b1b1, 0 0 1em #6d0b3d;
}

.manual-sample-provider__tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  margin-bottom: 1rem;
}

.manual-sample-provider__tools > button,
.manual-sample-provider__tools > select,
.manual-sample-provider__tools > input {
  min-width: 3rem;
  height: 2rem;
}

.local-file-provider__path {
  display: none;
}

.samples-list {
  display: flex;
  flex-wrap: wrap;
}

.sample__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 1rem 0 0;
  padding: 0.3rem;
  border: 0.1rem dashed #000;
}

.sample__preview {
  display: block;
  width: 320px;
  margin-bottom: 1rem;
}

.sample__repeat-button {
  display: none;
}

.sample__container--recognized .sample__recognize-button {
  display: none;
}

.sample__container--recognized .sample__repeat-button {
  display: unset;
}

